.add-todo-wrapper {
   
    padding: 1em;
    margin: 0.3em;
    border: solid 1px hotpink;
    text-align: left;
  

}

.added-hamster {
    display: grid;
    grid-template-areas: "hamster-card hamster-card hamster-card  hamster-card  hamster-card hamster-card ";

}

:root {
    --error-color: red;
    --valid-color: green;
}

.message {
    color: var(--error-color);
    position: absolute;
}

.error {
    border-color: var(--error-color);
}

.valid {
    border-color: var(--valid-color);
}

.form-box {
    padding: 2rem;

}

label {
    display: inline-block;
    width: 200px;
   
  
}